{{ form_start(form) }}
   

<div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Auteur</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{ path('auteur_index') }}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="{{ path('auteur_index') }}">Auteur</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ ActLab|default('Add') }}</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{{ path('auteur_index') }}" class="btn btn-sm btn-neutral">Back To List</a>
            </div>
          </div>
        </div>
      </div>
</div>
       <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">{{ ActionLabel|default('Add Auteur') }}</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
   <div class="form-row">
                    <div class="col-md-4 mb-3">
<label class="form-control-label" for="validationCustomUsername">Nom</label>
                     
    {{ form_widget(form.nom, { 'attr': {'class': 'form-control','placeholder':'Nom'} }) }}
   
    </div>
     
                    <div class="col-md-4 mb-3">
      <label class="form-control-label" for="validationCustomUsername">Prenom</label>
                                   
    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control','placeholder':'Prenom'} }) }}
    </div>
       
                    <div class="col-md-4 mb-3">
                    <label class="form-control-label" for="validationCustomUsername">Biographie</label>
                     
    {{ form_widget(form.biographie, { 'attr': {'class': 'form-control','placeholder':'Biographie'} }) }}
   </div></div>
   <div class="form-group">
                <label class="form-control-label" for="exampleFormControlSelect2">Livres</label>
    {{ form_widget(form.livres, { 'attr': {'class': 'form-control','id':'exampleFormControlTextarea1','style':'margin-top: 0px; margin-bottom: 0px; height: 131px;'} }) }}
    </div>
    <button class="btn btn-primary" >{{ button_label|default('Add Auteur') }}</button>
    
    
{{ form_end(form) }}
</div>
</div>
</div>
</div>
</div>
</div>