<!-- Sidenav -->
  <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="../../pages/dashboards/dashboard.html">
          <img src="{{asset('assets2/img/brand/blue2.png')}}" class="navbar-brand-img" alt="...">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">



            <li class="nav-item">
              <a class="nav-link" href="{{ path('index') }}">
                <i class="ni ni-shop text-primary"></i>
                <span class="nav-link-text">Dashboards</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('auteur_index') }}">
                <i class="ni ni-circle-08 text-orange"></i>
                <span class="nav-link-text">Gestion Auteur</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('categorie_index') }}">
                <i class="ni ni-atom text-green"></i>
                <span class="nav-link-text">Gestion Categorie</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('editeur_index') }}">
                <i class="ni ni-single-02 text-red"></i>
                <span class="nav-link-text">Gestion Editeur</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('livre_index') }}">
                <i class="ni ni-books text-green"></i>
                <span class="nav-link-text">Gestion Livre</span>
              </a>
            </li>
            

          </ul>

        </div>
      </div>
    </div>
  </nav>
  