{% if app.user %}

{{ form_start(form) }}
   

<div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Utilisateur</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{ path('user_index') }}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Utilisateur</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ ActLab|default('Add') }}</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{{ path('user_index') }}" class="btn btn-sm btn-neutral">Back To List</a>
            </div>
          </div>
        </div>
      </div>
</div>
       <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">{{ ActionLabel|default('Add Utilisateur') }}</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
   <div class="form-row">
                    <div class="col-md-6 mb-3">
<label class="form-control-label" for="validationCustomUsername">Username</label>
                     
    {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'Username'} }) }}
   
    </div>
     
                    <div class="col-md-6 mb-3">
      <label class="form-control-label" for="validationCustomUsername">Password</label>
                                   
    {{ form_widget(form.password, { 'attr': {'class': 'form-control','placeholder':'Password'} }) }}
    </div>
       
                    </div>
                    <div class="form-row">
                    <div class="col-md-6 mb-3">
<label class="form-control-label" for="validationCustomUsername">Roles</label>
                     
   
    {{ form_widget(form.Roles, { 'attr': {'class': 'form-control','placeholder':'Role'} }) }}
    </div>
     
                    <div class="col-md-6 mb-3">
      <label class="form-control-label" for="validationCustomUsername">Telephone</label>
                                   
     {{ form_widget(form.Phone, { 'attr': {'class': 'form-control','placeholder':'Telephone'} }) }}
   </div>
       
                    </div>
    <button class="btn btn-primary" >{{ button_label|default('Add Utilisateur') }}</button>
    
{{ form_end(form) }}

{% endif %}
{% if not app.user %}
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Create an account</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>

             </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or sign up with credentials</small>
            </div>
           {{ form_start(form) }}
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                         {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder':'Username'} }) }}
  
                         
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                       {{ form_widget(form.Phone, { 'attr': {'class': 'form-control','placeholder':'Telephone'} }) }}
  
               
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
               
                {{ form_widget(form.password, { 'attr': {'class': 'form-control','placeholder':'Password'} }) }}
  
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                   
    {{ form_widget(form.Roles, { 'attr': {'class': 'form-control','placeholder':'Role'} }) }}
    
                </div>
              </div>

                <div class="row my-4">
                <div class="col-12">
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                    <label class="custom-control-label" for="customCheckRegister">
                      <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Create Account</button>
              </div>

          {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}